.card {
  border-radius: 0;
  border: 0.5px solid #e0ee8d;
}

.card-header {
  font-size: var(--font-md);
  line-height: 2.1rem;
  font-weight: normal;
  letter-spacing: 0px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.card-divider {
  height: 0.5px;
  background: #e0ee8d;
}
.card-body {
  padding: 1.5rem;
}
